# --- Data ---
data/
datasets/
NIH-NLM-ThinBloodSmearsPf/
*.zip
*.tar.gz

# --- Python ---
__pycache__/
*.pyc

# --- Jupyter / Colab ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Models ---

*.h5
*.pth
*.pt
